.chat-clear {
    background-color: rgba(255, 255, 255, 0.1);
    width: 210px;
    height: 50px;
    display: flex;
    border-radius: 20px 0 0;
}

.form-clear-btn {
    margin: auto;
}

.chat-clear-btn {
    background: transparent;
    border: 0;
    color: var(--text-color);
}

@media screen and (min-width: 1600px) {

}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
