:root {
    --main-background: url("../../image/admin-background-dark.jpg");
    --text-color: #fff;
    --a-hover-text-color: #bebebe;
    --element-background: rgba(43, 43, 44, 0.2);
    --element-shadow: rgba(255, 255, 255, 0.1);
    --element-border: rgba(0, 0, 0, 0.3);
    --theme: rgb(36, 52, 65);
    --table-shadow: rgba(255, 255, 255, 1);
}

:root[theme='light'] {
    --main-background: url("../../image/admin-background-light.jpg");
    --text-color: #fff;
    --a-hover-text-color: #2b2b2c;
    --element-background: rgba(255, 255, 255, 0.2);
    --element-shadow: rgba(0, 0, 0, 0.1);
    --element-border: rgba(255, 255, 255, 0.3);
    --theme: rgb(59, 108, 177);
    --table-shadow: rgba(0, 0, 0, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:visited, a:active {
    text-decoration: none !important;
    color: var(--text-color);
}

body {
    overflow: hidden;
}

.content-wrapper {
    display: flex;
}

a:hover {
    text-decoration: none !important;
    color: var(--a-hover-text-color) !important;
}

.wrapper {
    display: inline-flex;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100vw;
    background: var(--main-background);
    background-repeat: no-repeat;
}

.left-nav {
    background: var(--element-background);
    width: 200px;
    height: calc(100vh - 50px);
    margin: 25px 0;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 4px 30px var(--element-shadow);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid var(--element-border);

}

.logo-bar {
    height: 50px;
    padding: 8px;
}

.logo {
    font-family: DejaVu Sans Mono, monospace;
    color: var(--text-color);
    font-size: 20px;
}

.left-menu {
    color: var(--text-color);
    font-size: medium;
    margin: 20px 0 0 8px;
    display: grid;
}

.m-dashboard-ic:before {
    content: '\f3fd';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.m-users-ic:before {
    content: '\f500';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.m-cities-ic:before {
    content: '\f64f';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.m-parks-ic:before {
    content: '\f557';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.m-web-ic:before {
    content: '\f0ac';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.m-logout-ic:before {
    content: '\f2f5';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.menu {
    display: flex;
    align-items: baseline;
}

.icons {
    width: 28px;
}

.header {
    height: 50px;
    width: calc(100vw - 250px);
    background: var(--element-background);
    margin: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 30px var(--element-shadow);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid var(--element-border);
    padding: 5px;
    color: var(--text-color);
}

.nav {
    display: flex;
    place-content: space-between;
}

.left {
    padding: 8px 10px;
}

.right {
    display: flex;
}

.theme-switch {
    margin: 7px 0;
}

.notification {
    margin: 0 25px;
}

.bell:before {
    content: '\f0f3';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
}

.profile {
    display: flex;
    font-size: small;
}

.data {
    display: grid;
    justify-items: end;
}

.login {
    box-shadow: 0 -1px 0 var(--text-color);
}

.circle-image {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin: 0 6px;
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    color: var(--text-color);
    background: var(--element-background);
    margin: 5px 0 0 25px;
    width: calc(100vw - 560px);
    min-width: 360px;
    height: calc(100vh - 130px);
    border-radius: 20px;
    box-shadow: 0 4px 30px var(--element-shadow);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid var(--element-border);
    padding: 25px;
}

.right-menu {
    color: var(--text-color);
    background: var(--element-background);
    margin: 5px 14px;
    width: 300px;
    height: calc(100vh - 130px);
    border-radius: 20px;
    box-shadow: 0 4px 30px var(--element-shadow);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid var(--element-border);
}

.td-image {
    padding: 6px 0 0 0 !important;
}

.dataTables_filter {
    text-align: end;
}

.db-Table {
    width: 100% !important;
    white-space: nowrap;
    margin-bottom: 15px;
}

th, td {
    padding: 0 20px 0 0 !important;
}

tr:nth-child(2n) {
    box-shadow: 0 4px 30px var(--element-shadow);
}

.table-circle-image {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
}

.table-circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-space {
    padding: 0 4px;
    border-radius: 25px;
}

.edit-btn {
    background: green;
}

.del-btn {
    background: #fd3636;
}

.enter-btn {
    background: #a48f02;
}

.dataTables_scrollHeadInner {
    width: 100% !important;
}

@media screen and (min-width: 1600px) {
    .logo:before {
        content: 'POCKETWORLD';
    }

    .left-nav {
        width: 200px;
    }
}

@media screen and (max-width: 1600px) {
    .logo:before {
        content: 'POCKETWORLD';
    }

    .left-nav {
        width: 200px;
    }
}

@media screen and (max-width: 1024px) {
    .logo:before {
        content: 'POCKETWORLD';
    }

    .left-nav {
        width: 200px;
    }
}

@media screen and (max-width: 768px) {
    .logo:before {
        content: 'P';
        margin: 0 5px;
    }

    .left-nav {
        width: 40px;
    }

    .nav-text {
        display: none;
    }

    .header {
        width: calc(100vw - 90px);
    }

    .content {
        min-width: 371px;
        width: calc(100vw - 90px);
    }

    .right-menu {
        display: none;
    }

    .data{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .logo:before {
        content: '';
    }

    .left-nav {
        display: none;
    }

    .header {
        width: calc(100vw - 50px);
    }

    .content {
        width: calc(100vw - 50px);
    }
}
