* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navbar-background: #2b2b2c;
    --text-color: #fff;
    --element-color: rgba(255, 255, 255, 0.8);
    --header-background: #2b2b2c;
    --footer-background: #2b2b2c;
    --content-wrapper-background: #2b2b2c;
    --content-background: #363637;
    --theme-icon: '\f185';
    --avatar-background: #515153 2px solid;
    --line: #fff;
    --shadow: #eeeeef;
}

:root[theme='light'] {
    --navbar-background: #eeeeef;
    --text-color: #000000;
    --element-color: rgba(0, 0, 0, 0.8);
    --header-background: #eeeeef;
    --footer-background: #eeeeef;
    --content-background: #ffffff;
    --content-wrapper-background: #eeeeef;
    --theme-icon: '\f185';
    --avatar-background: #f3909a 2px solid;
    --line: #2b2b2c;
    --shadow: #2b2b2c;
}

.wrapper {
    display: inline-flex;
    flex-wrap: nowrap;
    height: 100vh;
}

.left-nav {
    background: var(--navbar-background);
    width: 250px;
}

.logo-bar {
    height: 50px;
    padding: 8px;
}

.logo {
    font-family: DejaVu Sans Mono, monospace;
    color: var(--text-color);
    font-size: 20px;
}

.content {
    background: var(--content-background);
}

.header {
    height: 50px;
    background: var(--header-background);
    padding: 4px;
}

.header-nav {
    height: 42px;
    display: inline-flex;
}

.element {
    padding: 4px 0 0 0;
}

.switch {
    position: relative;
    width: 55px;
    height: 30px;
    padding: 5px;
    border-radius: 45px;
    border: 2px solid #525253;
    background-color: #212122;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    margin: 8px 20px 0 0;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.small {
    width: 12px;
    height: 12px;
    background: #212123;
    left: 7px;
    top: 4px;
    transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.large {
    width: 15px;
    height: 15px;
    background: #fff;
    border: 3px solid #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.switch input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.move {
    background-color: #fff;
    border-color: #f3909a;
}

.move .large {
    left: 32px;
    background: yellow;
    border-color: orange;
}

.move .small {
    left: 60px;
    top: 50px;
    background-color: #fff;
}

.bell:before {
    content: '\f0f3';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    padding: 0 30px 0 0;
    color: var(--element-color);
}

.profile-href {
    text-decoration: none;
}

.profile {
    display: flex;
    flex-wrap: nowrap;
}

.data {
    display: grid;
    color: var(--text-color);
    padding: 0px 5px;
}

.name {
    box-shadow: 0 1px 0 0 var(--line);
}

.login {
    text-align-last: justify;
}

.avatar {
    background: url("../../debug/img/testava.png") no-repeat -9px;
    background-size: cover;
    border: var(--avatar-background);
    border-radius: 50%;
    height: 42px;
    width: 42px;
}

.content-wrapper {
    margin: 40px;
    border-radius: 8px;
    height: 35vh;
    width: calc(100vw - 325px);
    background: var(--content-wrapper-background);
    box-shadow: 1px 1px 15px 1px var(--shadow);
    padding: 0 20px 0 0;
    color: white;
    display: flex;
}

.cw-profile {
    width: 250px;
    margin: 9em 0 0 0;
}

.cw-avatar {
    display: flex;
    justify-content: center;
}

.avatar-img {
    background: url("../../debug/img/testava.png") no-repeat -34px;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: var(--avatar-background);
}

.cw-name {
    display: flex;
    justify-content: center;
    color: var(--text-color);
    font-size: 24px;
}

.cw-login {
    display: flex;
    justify-content: center;
    color: var(--text-color);
    font-size: 20px;
    line-height: 10px;
}

a {
    text-decoration: none !important;
}

/*.edit {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    line-height: 48px;*/
/*}*/

.edit:before {
    display: flex;
    justify-content: center;
    line-height: 48px;
    content: 'Редактировать \f044';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.user-profile {
    box-shadow: -1px 0 0 0 var(--shadow);
    padding: 0 0 0 20px;
}

.up-content {
    margin: 1em 0 0 0;
}

.get-notification {
    display: flex;
    flex-wrap: nowrap;
}

.form-switch {
    margin: 0 0 0 5px;
}

#text {
    color: var(--text-color);
    margin: 0 20px 0 0;
}

.copy:before {
    position: fixed;
    bottom: 10px;
    left: 8px;
    content: "2023 © Все права защищены.";
}

@media screen and (min-width: 1600px) {
    .content {
        width: calc(100vw - 250px);
    }

    .logo:before {
        content: "POCKETWORLD";
    }
}

@media screen and (max-width: 1600px) {
    .content {
        width: calc(100vw - 250px);
    }

    .logo:before {
        content: "POCKETWORLD";
    }
}

@media screen and (max-width: 1024px) {
    .left-nav {
        width: 50px;
    }

    .content {
        width: calc(100vw - 50px);
    }

    .logo:before {
        content: "P";
    }

    .logo-bar {
        padding: 10px 0 0 20px;
    }

    .copy:before {
        position: fixed;
        bottom: 10px;
        left: 8px;
        content: "";
    }

    .content-wrapper {
        width: calc(100vw - 125px);
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {
    .left-nav {
        width: 0;
    }

    .content {
        width: 100vw;
    }

    .copy:before {
        position: fixed;
        bottom: 10px;
        left: 8px;
        content: "";
    }

    .content-wrapper {
        width: 100vw;
    }
}
